/* 1. BASE: basisstijlen van de HTML-elementen */

/* Typografie */

@font-face {
  font-family: 'Rajdhani', sans-serif; 
  src: url(https://fonts.googleapis.com/css?family=Rajdhani);

  font-family: 'Roboto', sans-serif; 
  src: url(https://fonts.googleapis.com/css?family=Roboto);

  font-family: 'Pacifico', cursive;
  src: url(https://fonts.googleapis.com/css?family=Pacifico);

}

h1{
    font-family: "Rajdhani";
    font-weight: bold;
}
h2{
    font-family: "Rajdhani";
}
h2{
    margin: 12px;
    text-transform: uppercase;
    margin-bottom: -15px;
    margin-top: 30px;
    font-size: 2.2em;
}
h3{
    font-family: "Rajdhani";
    text-align: "left";
}

h4{
    font-family: "Rajdhani";
    text-align: "left";
    color:#878787;
}
p {
    font-family: "Roboto";
    text-align: left;
    color: #878787;
}

/* Hyperlinks */
.text__button {
  background-color: black;
  color:#878787;
  font-family: "Roboto"; 
  background:black;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.text__button:hover {
  font-family: 'Roboto'; 
  color:white; 
}
.text__button_omgekeerd {
  background-color: white;
  color:#878787;
  font-family: "Roboto"; 
  background:#EDEDED;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.text__button_omgekeerd:hover {
  font-family: 'Roboto'; 
  color:black; 
}
/* 2. COMPONENTS: onderdelen, worden in de algemene lay-out geplaatst */

/* Knoppen */
.hero__button {
  font-family: 'Rajdhani', sans-serif; 
  display: inline-block;
  padding: 12px 20px;
  background:black;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 20px;
  letter-spacing: 1px;
  border: 2px solid #fff;
}

.hero__button:hover {
  font-family: 'Rajdhani', sans-serif; 
  color: #333;
  background: #FFF;
  letter-spacing: 1px;
  padding: 12px 20px;
  text-transform: uppercase;
}
.hero__button_omgekeerd {
  font-family: 'Rajdhani', sans-serif; 
  display: inline-block;
  padding: 12px 20px;
  background:white;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  margin-top: 20px;
  letter-spacing: 1px;
  border: 2px solid black;
}

.hero__button_omgekeerd:hover {
  font-family: 'Rajdhani', sans-serif; 
  color: white;
  background: black;
  letter-spacing: 1px;
  padding: 12px 20px;
  text-transform: uppercase;
}

/* Kleuren */
.colours__colour--a {
    background-color: white;
}
.colours__colour--b {
    background-color: #d8d8d8;
}
.colours__colour--c {
    background-color: #DADADA;
}
.colours__colour--d {
    background-color: #878787;
}
.colours__colour--e {
    background-color: #3d3d3a;
}
.colours__colour--f {
    background-color: black;
}








.line_about {
    background: #878787;
    height: 2px;
    margin: 20px auto;
    position: left;
    width: 400px;
   float: left;
}

